<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true">

	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.adarwin.csc435</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>jersey</servlet-name>
    	<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Portal</servlet-name>
		<servlet-class>com.adarwin.csc435.Portal</servlet-class>
	</servlet>

	<!--<servlet-mapping>
		<servlet-name>Portal</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>-->
  


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.adarwin.csc435.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
  


	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.adarwin.csc435.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>TaskManagementServlet</servlet-name>
		<servlet-class>com.adarwin.csc435.TaskManagementServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TaskManagementServlet</servlet-name>
		<url-pattern>/taskmanagement</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>PrivateFilter</filter-name>
		<filter-class>com.adarwin.csc435.PrivateFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PrivateFilter</filter-name>
		<url-pattern>/private/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>MasterFilter</filter-name>
		<filter-class>com.adarwin.csc435.MasterFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>MasterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
		
	<!--<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.aarwin.csc435.LoginFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/login/*</url-pattern>
	</filter-mapping>-->



	<welcome-file-list>
		<welcome-file>login</welcome-file>
	</welcome-file-list>
	
	

	<error-page>
		<description>Bad Request</description>
		<error-code>400</error-code>
		<location>/error.html</location>
	</error-page>
	
	<error-page>
		<description>Unauthorized</description>
		<error-code>401</error-code>
		<location>/error.html</location>
	</error-page>
	
	<error-page>
		<description>Forbidden</description>
		<error-code>403</error-code>
		<location>/error.html</location>
	</error-page>
	
	<error-page>
		<description>Not Found</description>
		<error-code>404</error-code>
		<location>/error404.html</location>
	</error-page>
	
	<error-page>
		<description>Internal Server Error</description>
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>
	
	<error-page>
		<description>Not Implemented</description>
		<error-code>501</error-code>
		<location>/error.html</location>
	</error-page>
	
	
	
	<!--<ejb-ref>
		<ejb-ref-name>Authentication</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
	</ejb-ref>-->


</web-app>
