#######################
#  Compiled Binaries  #
#######################
*.class


############################
#  Temporary Source Files  #
############################
*.java.swp


##############
#  OS Files  #
##############
*.DS_Store
